name: Renovate

on:
  # Immediately run again after renovate.yml itself was updated
  push:
    branches:
      - main
    paths:
      - .github/workflows/renovate.yml
  workflow_dispatch:
    inputs:
      log-level:
        description: Log level
        required: true
        default: INFO
        type: choice
        options:
          - TRACE
          - DEBUG
          - INFO
          - WARN
          - ERROR
  schedule:
    # run at 02:02 every Friday, the asterisk has special meaning in YAML so this must be quoted
    - cron: '2 2 * * 5'

concurrency:
  group: renovate
  cancel-in-progress: true

permissions: {}

jobs:
  renovate:
    runs-on: ubuntu-latest
    env:
      LOG_LEVEL: ${{ github.event.inputs.log-level || 'INFO' }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # No need for credentials after this step
          persist-credentials: false
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: create-github-app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: renovatebot/github-action@66387ab8c2464d575b933fa44e9e5a86b2822809 # v44.2.4
        with:
          # recommended to not name it one of the repository configuration filenames listed in the Renovate Docs
          configurationFile: renovate-config.json
          token: ${{ steps.create-github-app-token.outputs.token }}
