name: Renovate

on:
  # Immediately run again after renovate.yml itself was updated
  push:
    branches:
      - main
    paths:
      - .github/workflows/renovate.yml
  workflow_dispatch:
    inputs:
      log-level:
        description: Log level
        required: true
        default: INFO
        type: choice
        options:
          - TRACE
          - DEBUG
          - INFO
          - WARN
          - ERROR
  schedule:
    # run at 02:02 every Friday, the asterisk has special meaning in YAML so this must be quoted
    - cron: '2 2 * * 5'

concurrency:
  group: renovate
  cancel-in-progress: true

permissions: {}

jobs:
  renovate:
    runs-on: ubuntu-latest
    env:
      LOG_LEVEL: ${{ github.event.inputs.log-level || 'INFO' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # No need for credentials after this step
          persist-credentials: false
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: create-github-app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: renovatebot/github-action@f7fad228a053c69a98e24f8e4f6cf40db8f61e08 # v44.2.1
        with:
          # recommended to not name it one of the repository configuration filenames listed in the Renovate Docs
          configurationFile: renovate-config.json
          token: ${{ steps.create-github-app-token.outputs.token }}
