name: Renovate

on:
  workflow_dispatch:
    inputs:
      log-level:
        description: Log level
        required: true
        default: INFO
        type: choice
        options:
          - TRACE
          - DEBUG
          - INFO
          - WARN
          - ERROR
  schedule:
    # run at 02:02 every Friday, the asterisk has special meaning in YAML so this must be quoted
    - cron: '2 2 * * 5'

concurrency:
  group: renovate

permissions: {}

jobs:
  renovate:
    runs-on: ubuntu-latest
    env:
      LOG_LEVEL: ${{ github.event.inputs.log-level || 'INFO' }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: create-github-app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: renovatebot/github-action@c91a61c730fa166439cd3e2c300c041590002b1d # v44.0.3
        with:
          # recommended to not name it one of the repository configuration filenames listed in the Renovate Docs
          configurationFile: renovate-config.json
          token: ${{ steps.create-github-app-token.outputs.token }}
